:root {
  --primary: rgb(80, 100, 110);
  --secondary: rgb(255, 255, 255);
  --gloss: rgb(0, 153, 153);
  --dark-primary: rgb(2, 16, 21); /* Dark mode background color */
  --dark-secondary: #ffffff; /* Dark mode text color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  color: white;
}

.logo {
  width: 48px;
  height: 48px;
}

.loading-bar {
  width: 180px;
  height: 3px;
  border-radius: 1rem;
  background: #ffffff;
  margin-top: 10px;
  position: relative;
  overflow: clip;
}

.loading-bar::before {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--primary);
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
  background-color: var(--gloss);
}

.loading-animation {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-animation h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

@keyframes bluebar {
  50% {
      left: 96px;
  }
}

#content {
  transition: opacity 0.5s ease-in-out;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lrsections {
  display: flex;
  flex-direction: row;
}

.left {
  background-color: var(--primary);
  color: var(--secondary);
  height: 100vh;
  width: 45vw;
  position: fixed;
  left: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.right {
  background-color: var(--primary);
  color: var(--secondary);
  height: 380vh;
  width: 55vw;
  right: 0;
  position: absolute;
  overflow: clip;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .left {
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
}

.dark-mode .right {
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
}

.StickyNavbar {
  position: static;
  display: none;
}

[data-aos="fade-up"] {
  transition-duration: 2s;
  transition-delay: 0.5s;
}


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotation{
    animation: rotate 0.8s 6 linear;
  }

/* Day-Night Toggle Styles */
.day-night-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #000000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  z-index: 999; /* Ensure it's always on top */
}

.dark-mode .day-night-toggle {
  background-color: #f3f3f7;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle-ball {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 23px;
  height: 23px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px black;
  border-radius: 50%;
  transition: transform 0.5s;
  z-index: 1000;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(28px);
}

/* Sun and Moon Icon Styling */
.sun-icon, .moon-icon {
  width: 18px;
  height: 18px;
  stroke: #ffffff; /* Sun color */
  fill: none;
}

.dark-mode .sun-icon {
  stroke: #000000;
}

.moon-icon {
  stroke: #ffffff;
}

.dark-mode .moon-icon {
  stroke: #ffffff;
}
