:root{
    --primary:rgb(6, 22, 28);
    --secondary:rgba(255 255 255 / 76%);
    --gloss:#006480;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.lrsections{
    display: flex;
    flex-direction: row;
}
.left{
    background-color:var(--primary);
    color: var(--secondary);
    height: 100vh;
    width: 45vw;
    position: fixed;
   
    left: 0;

}
[data-aos="fade-up"] {
    transition-duration: 2s; 
    transition-delay: 0.5s;  
  }
  

.right{
    background-color:var(--primary);
    color: var(--secondary);
    height:410vh;
    width: 55vw;
    right: 0;
    position:absolute;
    overflow: clip;    
}
.StickyNavbar{
    position: static;       
    display: none;
}

.blurry-text {
    text-align: center;
    -webkit-animation: blurAnimation 3s infinite; /* For Safari and Chrome */
    -moz-animation: blurAnimation 3s infinite; /* For Firefox */
    -o-animation: blurAnimation 3s infinite; /* For Opera */
    animation: blurAnimation 3s infinite; /* Standard */
  }

  @-webkit-keyframes blurAnimation {
    0%, 100% {
      -webkit-filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(5px);
    }
  }

  @-moz-keyframes blurAnimation {
    0%, 100% {
      -moz-filter: blur(0px);
    }
    50% {
      -moz-filter: blur(5px);
    }
  }

  @-o-keyframes blurAnimation {
    0%, 100% {
      -o-filter: blur(0px);
    }
    50% {
      -o-filter: blur(5px);
    }
  }

  @keyframes blurAnimation {
    0%, 100% {
      filter: blur(0px);
    }
    50% {
      filter: blur(5px);
    }
  }