:root{
    --primary:rgb(6, 22, 28);
    --secondary:rgb(222, 220, 220);
    --gloss:rgb(0, 153, 153);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color:White;
  text-align: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.loading-bar {
  width: 130px;
  height: 2px;
  background: #cfcfcf;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: '';
  width: 68px;
  height: 2px;
  background: var(--primary);
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
  background-color: var(--gloss);
}
.loading-animation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-animation h1{
  font-weight: 400;
  font-size: 1.5rem;
}
@keyframes bluebar {
  50% {
      left: 96px;
  }
}



#content {
  transition: opacity 0.5s ease-in-out;
}


body{
  background-color: #000000;

 
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.lrsections{
    display: flex;
    flex-direction: row;
}
.left{
    background-color:var(--primary);
    color: var(--secondary);
    height: 100vh;
    width: 45vw;
    position: fixed;
   
    left: 0;

}
[data-aos="fade-up"] {
    transition-duration: 2s; 
    transition-delay: 0.5s;  
  }
  

.right{
    background-color:var(--primary);
    color: var(--secondary);
    height:410vh;
    width: 55vw;
    right: 0;
    position:absolute;
    overflow: clip;    
}
.StickyNavbar{
    position: static;       
    display: none;
}

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotation{
    animation: rotate 0.8s 6 linear;
  }
