.left-content h1{
    font-size: 3rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

}
.left-content h2{
  margin: 0rem 0rem 0rem 0rem;
  font-weight: 500;
}
.left-content p{
  margin: 1rem 0rem;
  font-size: 0.95rem;

}
.navigation{
  display: flex;
  flex-direction: column;
  height: 3rem;
  width: 100%;
}

.navigation ul{
  list-style: none;
margin-top: 2.1rem;

}
.navigation ul li{
padding: 0.4rem;
}
.navigation ul li a{
text-decoration: none;  
font-size: 1.2rem;
color:var(--secondary);
font-family: "Bree Serif", serif;
font-weight: 400;
font-style: normal;
}
.icons{
  position: fixed;
  bottom: 4.3rem;
}
.icons img{
  font-size: 0.3rem;
  opacity: 0.7;
  padding: 0rem 0.5rem;

}
.navigation ul li a:hover{
  color: #616574;
}
.navigation ul li a.active{
  color: #616574;
}

.icons svg:hover{
  box-shadow: 0px 5px 0px #ffffff;
 
}
