.left-content h1{
    font-size: 3rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    animation: hue-rotate 5s infinite linear;

    font-style: normal;

}
.fIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.fIcon svg{
  display: block;
  max-width: 3rem;
}
.fIcon svg:hover{
  fill:rgb(255, 255, 255);
}
.left-content h2{
  margin: 0rem 0rem 0rem 0rem;
  font-weight: 500;
}
.left-content p{
  margin: 0.3rem 0rem;
  font-size: 0.95rem;

}
.navigation{
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  width: 100%;
  margin-top: 1rem;
}

.navigation ul{
  list-style: none;

}
.navigation ul li{
padding: 0.3rem;
}
.navigation ul li a{
text-decoration: none;  
font-size: 1.2rem;
color:var(--secondary);
font-family: "Bree Serif", serif;
font-weight: 400;
font-style: normal;
}
.icons{
  margin-top: 10rem;
}

.navigation ul li a:hover{
  color: #616574;
}
.navigation ul li a.active{
  color: #616574;
}

.email-icon {
  fill: none;
  stroke: var(--secondary);
  stroke-width: 2;
  stroke-miterlimit: 10;
}

div.icons svg:hover {
  fill: rgb(255, 255, 255);
  animation: hue-rotate 5s infinite linear;
}
div.icons .email-icon:hover{
  stroke: white;
  fill: none;

}
.left-content img{
  display: block;
  max-width: 8rem;
  border-radius:50%;
}
.left-content h1{
font-size: 2.5rem;
display: flex;
} 
.fIcon svg{
  position: absolute;
  top: 2rem;
  max-width: 2.3rem;
right:2rem;
}
.left-content{
  justify-content: center;
}


